@CHARSET "UTF-8";

ul.file-attachment-field-previews{
	padding: 0!important;
	
}
.dz-image-preview.success{
	background: #222;
}
.jcrop-holder{
	margin: 0 auto;
}
#oldImagePrev{
	background: #222;
}
	#oldImagePrev img{
		margin: 0 auto;
	}

.file-progress-holder{
	display: block;
	width: 100%;
	background: #fff;
}
	.file-progress-holder .file-progress{
		border-radius: 5px;
		background: #ccc;
		display: block;
		float: none;
		height: 10px;
	}